@model MinhaViagem_V1.Models.Cliente

@{
    ViewData["Title"] = "Administração do Cliente";
}



<div>
    <h4>Detalhes do Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SobreNome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SobreNome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Passagens)
    </dt>
    <dd class="col-sm-10">
        <table class="table">
            <tr>
                <th>Cidade</th>
                <th>Codigo da Cidade</th>
            </tr>
            @foreach (var item in Model.Passagens)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Destino.CidadeDestino)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DestinoID)
                    </td>
                </tr>
            }
        </table>
    </dd>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a asp-action="Index">Voltar a Lista</a>
</div>
